<template>
    <div class="login">
      <img src = "" alt = "">
      <div>
          <div>
            <label for = ""></label><input type = "text">
          </div>
      </div>
      
    </div>
</template>

<script>
	export default {
		name: "Login"
	}
</script>

<style scoped>

</style>
