<template>
    <div class="login">
      <div class = "logo">
        <img src = "../../src/assets/coco@2x.png" alt = "">
      </div>
      <div class = "h-118">
        <div class = "left ml-78">
          <img
            class = "mm-icon"
            src = "../../src/assets/icon-1.png" alt = "">
        </div>
        <div class = "right">
          <input
            class = "test"
            placeholder = "输入邮箱"
            type = "text">
        </div>
      </div>
      <div class = "h-118 ">
        <div class = "left ml-78">
          <img
            class = "mm-icon"
            src = "../../src/assets/pwd@2x.png" alt = "">
        </div>
        <div class = "right">
          <input
            class = "test"
            placeholder = "输入密码"
            type = "text">
        </div>
      </div>
      <div class = "h-118">
        <div class = "left ml-78">
          <img
            class = "mm-icon"
            src = "../../src/assets/code@2x.png" alt = "">
        </div>
        <div class = "right">
          <input
            class = "test"
            placeholder = "输入验证码"
            type = "text">
        </div>
      </div>
      <button class = "btn-2">登录</button>
      <section class="mt-60">
      
      <span style = "color: #A6BEE3;">没有账号</span>
        <router-link
          style = "color: #00A0E9;"
          to="/register">直接注册</router-link>
      </section>
    </div>
</template>

<script>
	export default {
		name: "Login",
    postData:{
		  v1:'',
      v2:'',
      v3:''
    }
	}
</script>

<style scoped>

</style>
